body{
    margin:0;
    padding: 0;
}
.grid-container{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin:0;
    padding: 0;
    overflow: hidden;
}
.grid-divs{
    height: 16px;
    width: 16px;
    margin: 0;
    padding: 0;
}