body{
    height:100vh;
    margin:0;
    padding:0;
    display:flex;
    flex-flow:column;
}
.container{
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
}
#canvas{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 0;
}
.grid-divs{
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}